@model WebApplication1.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Erscheinungsdatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Erscheinungsdatum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeitenAnzahl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeitenAnzahl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sprache)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sprache)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Verlag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Verlag.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
